<!DOCTYPE html>
<html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
</style>

<head>
	<title>
		


	</title>
</head>
<body>
<h1><center>Resume Upload</center></h1>
<h2><center>Upload your resume as PDF.</center></h2>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.document }}
    {% for error in form.document.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>


{% if file_url %}
<br>
<h2>{{filename}} </h2>

	{{html}}
    {{out}}
<br>
<a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
	
{% endif %}

</body>
</html>
