<!DOCTYPE html>
<html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
</style>

<head>
	<!-- <title> -->
	<!-- </title> -->
</head>
<body>
<h1 style="font-family:arial;"><center>Resume Upload</center></h1>
<p style="font-family:arial;"><center>Upload your resume as PDF.</center></p>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.document }}
    {% for error in form.document.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

<br>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Temperature:
        <input name="temperature" type="number" required>
        <br>
        <br> Humidity:
        <input name="humidity" type="number" required>
        <br>
        <br> Windspeed:
        <input name="windspeed" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

{% if file_url %}
<br>
<h2>{{filename}} </h2>

	{{html}}
    <!-- {{out}} -->
<br>
<a href="/return-files/{{value}}" target="blank"><button class='btn btn-default'>Download</button></a>
	
{% endif %}

</body>
</html>
