<!DOCTYPE html>
<html>
<style>
    form {
        margin: auto;
        width: 35%;
    }
</style>

<head>


<body>
<h1 style="font-family:arial;"><center>Resume Survivor</center></h1>
<form action="/search" method="POST">
    <fieldset>
        <legend>Search for jobs on Indeed:</legend>
        Job Title:
        <center><input name="job_title" type="text" required></center>
        <br>
        <br> Location:
        <input name="location" type="text" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>


</body>
</head>
</html>
